@font-face {
    font-family: "Abril";
    src: url('../font/AbrilFatface-Regular.otf') format('truetype');
}

@font-face {
    font-family: "Lato";
    src: url('../font/Lato-Bold.ttf') format('truetype');
}


/**********
* Generic *
**********/

html {
	height: 100%;
}

body {
    width: 100%;
	font-family: Roboto, Arial;	
	background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
}

/************* 
* First Time *
*************/

.firstTime {
	background-image: url("../images/bg2.jpg");
    background-attachment: fixed;
}

.info {
    margin: 20px auto;
    box-shadow: 0px 3px 10px 0px rgba(255,255,255,0.75); 
}

.info:nth-child(1), .info:nth-child(4) {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.info:nth-child(1) {
	align-self: flex-start;
	font-family: Abril, Arial;	
	font-size: 2em;
	position: relative;
}

.info:nth-child(2) {
	width: 70%;
	max-width: 500px;
	min-width: 300px;
}

.info:nth-child(3) {
	width: 80%;
	max-width: 500px;
	min-width: 300px;
}

.info:nth-child(4) {
	box-shadow: none;
	border-radius: 40px;
}

.info:nth-child(4) h1 {
	border-radius: 40px;
	padding: 20px;
	cursor : pointer;	
}

.info h1 {
	text-align: center;
	padding: 20px;
	margin: 0;
	font-size: 1.5em;
}

.info h2{
	padding-left: 15px;
}

.info p {
	text-align: justify;
	padding: 10px;
}

.info img {
	padding-top: 5px;
	padding-left: 5px;
	width: 150px;
}

.info:nth-child(2) img {
	float: right;
}

.info:nth-child(3) img {
	float: left;
}

.info:nth-child(4) h1 {
	transition: 0.5s transform ease-in-out;
	animation: glow 3s infinite;
}

.info:nth-child(4) h1:hover {
	transform: scale(1.2);
}

.info {
	background-image: url("../images/paper_pattern.jpg");
	background-repeat: repeat;		
}

.info h1 {
	background-image: url("../images/pattern.jpg");
	background-repeat: repeat;	
	color: white;
	text-shadow: 2px 2px 4px #7880CE;					
}

#go {
	display: block;
	position: absolute;
	top: 70px;
	right: -40px;
	/*animation: swing 1s infinite;*/
}

#go img {
	width: 150px;
}

.special {
	position: relative;
	color: #7880CE;
	font-weight: bold;
	font-style: italic;
	top: 5px;
	right: 5px;
	text-shadow: 2px 2px 2px white;				
}

@keyframes glow {
	0% {
		box-shadow: 0 0 5px rgba(255, 255, 255,0.4);
		}
	40% {
		box-shadow: 0 0 50px rgba(255, 255, 255,0.4);
		}
	60% {
		box-shadow: 0 0 10px rgba(255, 255, 255,0.4);
		}				
	90% {
		box-shadow: 0 0 30px rgba(225, 255, 255,0.8);
		}
	100% {
		box-shadow: 0 0 10px rgba(225, 255, 255,0.8);
		}		
}	

@keyframes swing {
	0% {
		transform-origin: 50%, 12.5%;
		transform: rotate(0deg);
		}
	25% {
		transform-origin: 50%, 12.5%;
		transform: rotate(45deg);
		}
	50% {
		transform-origin: 50%, 12.5%;
		transform: rotate(0deg);
		}
	75% {
		transform-origin: 50%, 12.5%;
		transform: rotate(-45deg);
		}				
	100% {
		transform-origin: 50%, 12.5%;
		transform: rotate(0deg);
		}		
}	

.snow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.snow__layer {
  position: absolute;
  left: -100px;
  right: -100px;
  -webkit-animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
          animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  -webkit-perspective: 100px;
          perspective: 100px;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}

.snow__fall {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2000px;
  background: url('../images/snow-light.png');
  -webkit-animation: fall 10s linear infinite;
          animation: fall 10s linear infinite;
}

.snow__layer:nth-child(1) {
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.snow__layer:nth-child(1) .snow__fall {
  background: url('../images/snow-blur.png');
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-animation-name: fallblur;
          animation-name: fallblur;
  width: 4000px;
  left: -2000px;
}

.snow__layer:nth-child(2) {
  -webkit-animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
          animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
}

.snow__layer:nth-child(2) .snow__fall {
  background: url('../images/snow-medium.png');
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
}

.snow__fall:nth-child(3) {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  background-size: 250px;
}

.snow__fall:nth-child(2) {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  background-size: 500px;
}

.snow__layer:nth-child(4) .snow__fall {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
  -webkit-animation-name: falllight;
          animation-name: falllight;
}

@-webkit-keyframes fall {
  from {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

@keyframes fall {
  from {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
}

@-webkit-keyframes falllight {
  from {
    -webkit-transform: translateY(-1000px) translateZ(50px);
            transform: translateY(-1000px) translateZ(50px);
  }
}

@keyframes falllight {
  from {
    -webkit-transform: translateY(-1000px) translateZ(50px);
            transform: translateY(-1000px) translateZ(50px);
  }
}

@-webkit-keyframes fallblur {
  from {
    -webkit-transform: translateY(-1000px) translateZ(25px);
            transform: translateY(-1000px) translateZ(25px);
  }
}

@keyframes fallblur {
  from {
    -webkit-transform: translateY(-1000px) translateZ(25px);
            transform: translateY(-1000px) translateZ(25px);
  }
}

@-webkit-keyframes wind {
  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}

@keyframes wind {
  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
}
