@font-face {
    font-family: "Abril";
    src: url('../font/AbrilFatface-Regular.otf') format('truetype');
}

@font-face {
    font-family: "Alex";
    src: url('../font/AlexBrush-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    src: url('../font/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "SFZimmerman";
    src: url('../font/SFZimmerman.ttf') format('truetype');
}

/**********
* Generic *
**********/

body {
    width: 100%;
	margin: 0;
	font-family: Roboto, Arial;	
	background-image: url("../images/bg.jpg");
    background-attachment: fixed;
}

.warning {
	color: red;
	font-style: italic;
	font-weight: bold;
}

#down, #down_bis {
	padding: 0 15px;
	transition: 0.4s transform ease-in-out;
}

.rotate {
	transform: rotate(180deg);
}

a {
	text-decoration: none;
	color: #574634;
}

a:visited {
	color: #3e3224;
}

a:hover {
	/*text-decoration: underline;*/
	font-weight: bold;
}

/*********************
*   Header / footer  *
*********************/

header, footer {
	position: fixed;
	width: 100%;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	background-color: rgb(100,100,100);
	text-align: right;
	color: white;
	text-shadow: 2px 2px 2px black;	
	background-image: url("../images/pattern.jpg");
	background-repeat: repeat;	
}

.admin header, .admin footer {
	background-image: url("../images/admin_pattern.jpg");
	background-repeat: repeat;	
	color: black;
	text-shadow: 2px 2px 2px #999;		
}

header {
	height: 115px;
	top: 0;
	border-bottom: solid 2px #333;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);  		
}

header h1, header h2 {
	margin: 0;
}

header h1 {
	font-family: Abril, Arial;	
	font-size: 3em;
	padding: 5px 20px;
}

header h2 {
	font-size: 1em;
	font-style: italic;
	color: #7880CE;
	padding: 0px 20px;	
}

#headerContent, #footerContent {
	max-width: 1280px;
	margin: auto;
}

.admin #footerContent {
	background-color: #bca890;
	border-radius: 20px;
	padding: 10px;
	line-height: 20px;
}

#headerLogo img {
	position: absolute;
	left: 5px;
	top: 0px;
	width: 250px;
	transition: 1s opacity ease-in-out;
}

.admin #headerLogo img {
	width: 200px;
}

#headerLogo img:nth-child(2):hover {
	opacity: 0;
}

footer {
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	bottom: 0;
	margin-top: 20px;	
	border-top: solid 2px #322d29;
    box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.75);  
}

#footerContent {
	font-size: 1em;
}

#footerLogo img {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 150px;
transition: opacity 1s ease-in-out;
}

#footerLogo img:nth-child(2):hover {
	opacity: 0;
}

.special {
	position: relative;
	color: #7880CE;
	font-weight: bold;
	font-style: italic;
	top: 5px;
	right: 5px;
	text-shadow: 2px 2px 2px white;				
}

.admin .special {
	text-shadow: 2px 2px 2px #333;			
}

.connexion, .deconnexion, #helpRequired {
	font-family: Lato, Roboto, Arial;
	font-size: 1em;
	padding: 10px;
	width: 200px;	
	border-style: none;
	border-radius: 20px;
	background-color: white;
	opacity: 0.6;
	font-weight: bold;
	transition: 0.5s opacity ease-in-out;
}

.connexion:hover, .deconnexion:hover, #helpRequired:hover {
	opacity: 1;	
}

.admin .connexion, .admin .deconnexion, .admin #helpRequired {
	background-color: black;
	color: white;
}

.admin .connexion:hover, .admin .deconnexion:hover, .admin #helpRequired:hover {
	opacity: 0.8;	
}

header #connexion, header #deconnexion {
	position: absolute;
	top: 15px;
	right: 20px;
	color: white;	
}

#helpRequired {
	position: absolute;
	box-sizing: border-box;
	top: 65px;
	right: 20px;
	text-align: center;
	margin: 0;
	padding: 10px;
	color: black;	
	text-shadow: none;
}

/********
* Login *
********/

.overlay {
    position: fixed;
    z-index: 50;    
    top:0; right:0; left:0; bottom:0;
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
}

#login {
	position: absolute;
	margin: 20px;
    min-width: 350px; 
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #ebe4de;
    border: solid 2px #3e3224;
    border-radius: 10px;
	text-align: right;  
    box-shadow: 0px 3px 10px 0px #333;  	  
}

#login h1 {
	margin: 0;
	padding: 10px;
	background-color: #bca88f;
	font-weight: bold;
	font-size: 1.5em;
	text-transform: capitalize;
	border-radius: 10px 10px 0 0;
}

#login form {
	margin: 10px;	
    text-align: center;
}

#login a {
	display: inline-block;
	padding: 10px;
	padding-top: 0;
}

#login label {
	display: inline-block;
}

#login label, #login form input:not([type="submit"]) {
	width: 150px;
	padding: 5px;
	margin: 2px;	
}

#login form input {
	border-style: none;	
}

#login form input:not([type="submit"]) {
	width: 150px;
}

#login form input[type="submit"] {
	background-color: #bca88f;
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 20px;
	width: 200px;
	font-size: 1em;
	font-weight: bold;
	font-family: Lato;
	transition: 0.5s background-color ease-in-out;	
}

#login form input[type="submit"]:hover {
	background-color: #8f7658;
}

/************* 
* First Time *
*************/

.firstTime {
	background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.7);	
}

#alert {
	position: relative;
}

.message {
	margin: 20px 0;
    box-shadow: 0px 3px 10px 0px rgba(255,255,255,0.75); 
}

.message:nth-child(1), .message:nth-child(4) {
	display: inline-block;
}

.message:nth-child(1) {
	align-self: flex-start;
	font-family: Abril, Arial;	
	font-size: 2em;
}

.message:nth-child(2) {
	width: 80%;
	max-width: 500px;
	min-width: 300px;
}

.message:nth-child(3) {
	width: 80%;

	max-width: 500px;
	min-width: 300px;
}

.message:nth-child(4) {
	right: 10px;
	cursor : pointer;	
}

.message h1 {
	text-align: center;
	padding: 20px;
	margin: 0;
	font-size: 1.5em;
}

.message h2{
	padding-left: 15px;
}

.message p {
	text-align: justify;
	padding: 10px;
}

.message img {
	padding-top: 5px;
	padding-left: 5px;
	width: 150px;
}

.message:nth-child(2) img {
	float: right;
}

.message:nth-child(3) img {
	float: left;
}
.message hr {
	margin: auto;
}

/*********** 
* Chapters *
***********/

#book {
	position: relative;
	width: calc(100% - 380px);	
	margin-top: 140px;
	margin-bottom: 80px;
	margin-left: 10px;	
}

/* For the TinyMCE editor */
#mceu_11 {
	margin: auto;
}

#mceu_11, #mceu_11-body, #mceu_12, #mceu_26, #post_ifr, .mce-panel {
	background-image: url("../images/admin_pattern.jpg");
	background-repeat: repeat;
	background-color: transparent;		
}

#chapter, #activeFormComment, #chapters_toc, .message {
	background-image: url("../images/paper_pattern.jpg");
	background-repeat: repeat;		
}

.admin #book {
	background-image: none;
}

.admin #chapter, .admin #chapters_toc, .admin #formEdit, .admin #formEdit #chapterTitle, #post {
	background-image: url("../images/admin_pattern.jpg");
	background-repeat: repeat;		
}

.admin #chapters_toc h3, #chapters_toc h3, #chapterTitle, #comments h3, .message h1 {
	background-image: url("../images/pattern.jpg");
	background-repeat: repeat;	
	color: white;
	text-shadow: 2px 2px 4px #7880CE;					
}

.admin #formEdit input[type="submit"], #activeFormComment input[type="submit"] {
	position: relative;
	width: 200px;
	font-family: Lato, Roboto, Arial;		
	font-size: 1em;
	background-color: #e1d0be;
	border-radius: 30px;
	padding: 10px 30px;
	border: none;
	color: black;
	font-weight: bold;
	margin-top: 15px;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	text-shadow: 1px 1px 1px #77B;		
	transition: 0.5s background-color ease-in-out;		
}

.admin #formEdit input[type="submit"]:hover, #activeFormComment input[type="submit"]:hover {
	background-color: #9f8264;			
}

#chapter, #chapters_toc, #comments {
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);  			
}

#chapter h3, #comments h3, #formEdit #editTitle {
	display: inline-block;
	height: 60px;	
	line-height: 60px;
	font-family: "Abril", Roboto, Arial;
	font-size:2.5em;	
	margin: 0;
	text-align: center;
}

#chapter h3 {
	width: calc(100% - 70px);
}

 #formEdit #editTitle {
	width: 100% ;
}


#formEdit #editTitle {
	margin: 20px 0;
	background-image: url("../images/admin_pattern.jpg");
	background-repeat: repeat;		
	border: solid 1px grey;
}

#comments h3 {
	width: 100%;
}

#chapterTitle {
	display: flex;
	align-items: stretch;
}

#title {
	flex: 1;
}

#prev, #next {
	flex-shrink: 0;
}

#leftArrow, #rightArrow, #invisibleArrow {
	box-sizing: border-box;
	background-color: rgba(255,255,255,0);
	color: rgba(255,255,255,0.5);
	margin: 0;
	height: 60px;
	font-size: 40px;
	padding: 10px;
	text-decoration:none; 
	transition: 0.5s all ease-in-out;
}

#leftArrow:hover, #rightArrow:hover {
	background-color: rgba(255,255,255,0.2);;
	color: rgba(255,255,255,1);
	text-decoration: none;
}

#formEdit #leftArrow, #formEdit #rightArrow {
	color: #7880CE;
	opacity: 0.5;
	margin: 20px 0;
}

#invisibleArrow {
    visibility: hidden !important; 
}

.hidden {
	display: none;
}

#formEdit #leftArrow:hover, #formEdit #rightArrow:hover {
	opacity: 1;
}

#rightArrow {
	right: 0;
}

#leftArrow {
	left: 0;
}

#chapter>p, #chapter form {
	margin: 0;
	padding: 5px;
}

#comments, #comments form {
	background-color: #e1d0be;
}

#comments h4 {
	margin: 5px;
	padding: 5px;
	font-size: 1.5em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

.myComment {
	margin-top: 20px;
}

.myComment strong, .warningComment {
	font-family: SFZimmerman, Abril, Roboto;
	font-weight: bold;
	font-size: 1.2em;
	color: black;
}

.warningComment {
	display: block;
	position: absolute;
	right: 30px;
	transition: 0.5s all ease-in-out;
}

.warningComment:hover {
	transform: scale(1.5);	
	color: #7880CE;
}

.myComment p {
	margin: 5px;
	padding: 0 5px;
}

.myComment p:first-child {
	margin-left: 25px;
}

.myComment p:last-child {
	text-align: right;
	margin-right: 25px;
}

.myComment .myCommentContent {
	background-color: #af9677;	
	width: 95%;
	margin: auto;
	padding: 5px;
}

.myComment:last-child {
	padding-bottom: 40px;
}

#comments .icon {
	margin: 5px;
	margin-left: 10px;
}

#comments .icon img {
	width: 15px;
	height: auto;
	transition: 0.3s all ease-in-out;	
}

#comments .icon img:hover {
    transform: scale(1.5);  		
}

#comments ::placeholder {
	font-size: 1em;
	font-family: Roboto, Arial;	
	color: #333;
}

#activeFormComment input, #activeFormComment textarea {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #e1d0be;
	padding: 5px;
	margin: 5px auto;
	border-radius: 5px;	
	border-style: none;
	width: 80%;
	max-width: 600px;
	text-indent: 10px;
}

#myComments, #formComment {
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	text-align: center;
	padding: 5px;
	cursor : pointer;
}

#formComment {
	background-color: #fef9e6;
}

#myComments {
	background-color: #e1d0be;
}

#myComments:hover, #formComment:hover {
	font-weight: bold;
}

#chapters_toc {
	position: fixed;
	top: 140px;
	margin-left: 10px;
	width: 350px;
	background-color: #f6efc3;		
	right: 10px;
}

#chapters_toc h3 {
	margin: 0;
	padding: 5px;	
	text-align: center;
}

#chapters_toc ul {
	list-style-type: none;
}

/******** 
* Admin *
********/

#chapters_toc .icon img, #chapters .icon img {
	width: 20px;
	height : 20px;
	vertical-align: middle;	
}

#chapters_toc .icon img {
	padding: 3px;
	width: 20px;
	height : 20px;
	vertical-align: middle;	
}

#tocEntry {
    display: flex;
    align-items: center;
}

#tocEntry p {
	margin: 5px;
}

#tocEntry img {
	transition: 0.3s transform ease-in-out;
}

#tocEntry img:hover {
	transform: scale(1.3);
}

#comments {
	margin-top: 20px;
}

#commentSection #comments {
	width: calc(100% - 380px);	
	margin-top: 120px;
	margin-bottom: 80px;
	margin-left: 10px;	
}

/**********
* Feature *
**********/

.scrollBtn{
	width:120px; 
	height:120px; 
	position:fixed;
	bottom:150px;
	right:100px;
	/*display:none; */
	opacity: 0;	
	background: url('../images/arrow.png') no-repeat;
	background-color: rgba(0,0,0,0.7);
	border-radius: 10px;
	z-index: 10;
	transition: 1s all ease-in-out;
}

.scrollBtn.On {
	opacity: 1;
}

.scrollBtn.On:hover{
	text-decoration:none;
	background: url('../images/arrow1.png') no-repeat;
	background-color: rgba(0,0,0,1);	
}

#identity, #bibliography, #help {
	position: fixed;
    width: 400px; 
    z-index: 20;
	background-image: url("../images/paper_pattern.jpg");
	background-repeat: repeat;
    border: solid 2px #3e3224;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px #333;  	  
	transition: 0.5s all ease-in-out;
}

#identity {
    bottom: 110px;
    right: -500px;
}

#identity.panelOn {
	right: 10px;
}

#bibliography {
    top: 150px;
    left: -500px;
}

#bibliography.panelOn {
	left: 10px;
}

#help {
    top: -700px;
    right: 100px;
}

.admin #help {
    top: -700px;
}

#help.panelOn {
	top: 140px;
}


#identity img, #bibliography img, #help img {
	float: right;
	padding-top: 5px;
	padding-left: 5px;
	width: 150px;
}

#identity h1, #bibliography h1, #help h1 {
	background-image: url("../images/pattern.jpg");
	background-repeat: repeat;	
	color: white;
	text-shadow: 2px 2px 4px #7880CE;		
	text-align: center;
	border-bottom: solid 1px grey;
	margin: 0;
	padding: 10px;
}

#identity p, #bibliography p, #help p {
	text-align: justify;
	padding: 5px;
	margin: 0;
}

#identity h2, #bibliography h2, #help h2 {
	padding-left: 5px;
	margin: 0;
}

#help hr {
	margin-left: 40px;
}

.admin #help hr:nth-child(2), .admin #help hr:nth-child(3){
	margin-left: 80px;
}


hr {
	background: url("../images/decoration20.png") no-repeat;
	height: 20px;
	width: 68px;
	border: 0;
	margin-left: 70px;
}

#closeIdentity, #closeBibliography, #closeHelp, #closeMsg {
	position: absolute;
	top: 15px;
	right: 10px;
	font-size: 25px;
	color: white;
	transition: 0.3s all ease-in-out;
}

#closeIdentity:hover, #closeBibliography:hover, #closeHelp:hover, #closeMsg:hover {
	transform: scale(1.3);
}